{% extends "base.html" %}

{% block content %}

<div class="glass-card">

    <h1>Custom Admin Dashboard</h1>

    <p><span class="info-label">Total cameras:</span> {{ camera_count }}</p>
    <p><span class="info-label">Pending borrow requests:</span> {{ pending_requests_count }}</p>

    <div class="button-row">
        <a href="{% url 'custom_admin_panel:manage_cameras' %}" class="btn">
            Manage Cameras
        </a>

        <a href="{% url 'custom_admin_panel:manage_borrow_requests' %}" class="btn">
            Manage Borrow Requests
        </a>
    </div>

</div>

{% endblock %}