<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="{% url 'catalogue:home' %}">
        <img src="/static/images/logo - new.webp" alt="Escapism logo" class="site-logo">
        </a>

        <button 
            class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalogue:home' %}">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalogue:about' %}">
                        About
                    </a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue:dashboard' %}">
                            Dashboard
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue:profile' %}">
                            Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue:borrow_basket' %}">
                            Borrow Basket
                        </a>
                    </li>

                    <li class="nav-item">
                        <form method="post" action="{% url 'logout' %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-light btn-sm ms-2">
                                Logout
                            </button>
                        </form>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            Login
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogue:register' %}">
                            Register
                        </a>
                    </li>

                {% endif %}

            </ul>

        </div>
    </div>
</nav>