{% extends "catalogue/base_catalogue.html" %}

{% block catalogue_content %}

<div class="glass-card">

    <h1>My Profile</h1>

    <p><span class="info-label">Username:</span> {{ user.username }}</p>
    <p><span class="info-label">First name:</span> {{ user.first_name }}</p>
    <p><span class="info-label">Last name:</span> {{ user.last_name }}</p>
    <p><span class="info-label">Email:</span> {{ user.email }}</p>
    <p><span class="info-label">Date joined:</span> {{ user.date_joined }}</p>

    <div class="button-row">
        <a href="{% url 'catalogue:edit_profile' %}" class="btn mt-4">
            Edit profile
        </a>

    </div>

</div>

{% endblock %}