{% extends "catalogue/base_catalogue.html" %}

{% block catalogue_content %}

<h1>Profile Details</h1>

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>First name:</strong> {{ user.first_name }}</p>
<p><strong>Last name:</strong> {{ user.last_name }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Date joined:</strong> {{ user.date_joined }}</p>

<p>
    <a href="{% url 'catalogue:edit_profile' %}" class="btn mt-4">
        Edit profile
    </a>
</p>

{% endblock %}